<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/images/fco-alerts-logo.png" width="300" height="300" class="left"/>
    
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <p>
        This is the web service supporting the 
        <a href="https://play.google.com/store/apps/details?id=uk.co.eleusis.android.fcoalerts">FCO
        Alerts</a> Android application. The application takes travel and security alerts from the
        UK Foreign and Commonwealth Office and creates notifications on your phone or tablet.
    </p>
    
    <p>
        Within the app, users can see the latest alerts, select the countries that they're 
        interested in to exclude those they don't want, and can
        configure the notification mechanism as required (vibrate, sound etc).
    </p>
        
  </body>
</html>