body {
  padding: 20px 50px 20px 50px;
  max-width: 800px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0097CF;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

img {
    margin: 10px;
}

.date {
	font-weight: normal;
	font-size: 70%;
	color: gray;
}

table {
	margin: 10px 0px 10px 0px;
	border-collapse: collapse;
}

th, td {
	margin: 0px;
	padding: 5px;
	border-top: 1px solid gray;
	text-align: left;
	vertical-align: top;
}

td div {
	vertical-align: top;
	display: inline;
}

address {
	padding-top: 3px;
	color: gray;
	font-size: 80%;
	text-align: right;
	border-top: 1px solid gray;
	font-style: italic;
}